@use "./theme.scss";

@mixin responsive($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 600px) { @content; }
  } @else if $breakpoint == tablet {
    @media (max-width: 900px) { @content; }
  }
}


@mixin heading($size, $weight: 700, $lineHeight: 1.2) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}

@mixin text($size: $font-size-body1, $weight: $font-weight-regular) {
  font-size: size;
}


@mixin themeTransition() {
    transition:
      background-color 0.4s ease,
      color 0.4s ease;
}

@mixin contentArea() {
  width: 700px;
  max-width: 97vw;
  margin: auto;
}

@mixin container() {
    max-width: theme.$breakpoint-xl;
    margin: auto;
    padding: 0 calc(theme.$spacing * 2);
}