$font-size-h1: 2.5rem;        // 40px
$font-size-h2: 2.0rem;        // 32px
$font-size-h3: 1.75rem;       // 28px
$font-size-h4: 1.5rem;        // 24px
$font-size-h5: 1.25rem;       // 20px
$font-size-h6: 1.125rem;      // 18px
$font-size-body1: 1rem;       // 16px
$font-size-body2: 0.875rem;   // 14px
$font-size-caption: 0.75rem;  // 12px


$line-height-h1: 2.75rem;        // ~44px
$line-height-h2: 2.375rem;       // ~38px
$line-height-h3: 2rem;           // ~32px
$line-height-h4: 1.75rem;        // ~28px
$line-height-h5: 1.5rem;         // ~24px
$line-height-h6: 1.375rem;       // ~22px
$line-height-body1: 1.5rem;      // ~24px
$line-height-body2: 1.375rem;    // ~22px
$line-height-caption: 1.25rem;   // ~20px

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;