@use "sass:map";
@use "./theme.scss";

$font-size-h1: 3rem;
$font-size-h2: 2.5rem;
$font-size-h3: 2rem;
$font-size-h4: 1.75rem;
$font-size-h5: 1.5rem;
$font-size-h6: 1.25rem;
$font-size-body1: 1.125rem;
$font-size-body2: 1rem;
$font-size-caption: 0.875rem;

$line-height-h1: 3.5rem;
$line-height-h2: 3rem;
$line-height-h3: 2.5rem;
$line-height-h4: 2.25rem;
$line-height-h5: 2rem;
$line-height-h6: 1.75rem;
$line-height-body1: 1.75rem;
$line-height-body2: 1.5rem;
$line-height-caption: 1.25rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 900;

h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-bold;
  line-height: $line-height-h1;
}

h2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-bold;
  line-height: $line-height-h2;
}

h3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-semibold;
  line-height: $line-height-h3;
}

h4 {
  font-size: $font-size-h4;
  font-weight: $font-weight-semibold;
  line-height: $line-height-h4;
}

h5 {
  font-size: $font-size-h5;
  font-weight: $font-weight-medium;
  line-height: $line-height-h5;
}

h6 {
  font-size: $font-size-h6;
  font-weight: $font-weight-medium;
  line-height: $line-height-h6;
}

p,
li,
a,
p.body1 {
  font-size: $font-size-body1;
  font-weight: $font-weight-regular;
  line-height: $line-height-body1;
}

p.body2,
time {
  font-size: $font-size-body2;
  font-weight: $font-weight-regular;
  line-height: $line-height-body2;
}

p.caption {
  font-size: $font-size-caption;
  font-weight: $font-weight-regular;
  line-height: $line-height-caption;
}

body[data-theme="dark"] {
  * {
    color: map.get(theme.$theme-dark, text-primary);
  }

  h1.secondary,
  h2.secondary,
  h3.secondary,
  h4.secondary,
  h5.secondary,
  h6.secondary,
  p.secondary,
  span.secondary,
  li.secondary,
  a.secondary,
  time {
    color: map.get(theme.$theme-dark, text-secondary);
  }
}

body[data-theme="light"] {
  * {
    color: map.get(theme.$theme-light, text-primary);
  }

  h1.secondary,
  h2.secondary,
  h3.secondary,
  h4.secondary,
  h5.secondary,
  h6.secondary,
  p.secondary,
  span.secondary,
  li.secondary,
  a.secondary,
  time {
    color: map.get(theme.$theme-light, text-secondary);
  }
}
