---
import AboutMe from "../components/AboutMe.astro";
import BaseHead from "../components/BaseHead.astro";
import Body from "../components/Body.astro";
import Header from "../components/Header.astro";
import ProfileSummary from "../components/ProfileSummary.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <main>
      <header class="profile">
        <ProfileSummary />
      </header>
      <section class="about-me">
        <AboutMe />
      </section>
    </main>
    <!-- <Footer /> -->
  </Body>
</html>

<style lang="scss">
  @use "../styles/theme.scss";

  main {
    display: flex;
    section.about-me {
      width: 50%;
    }

    header.profile {
      align-self: flex-start;
      width: 50%;
      display: block;
      position: sticky;
      top: calc(67px + calc(theme.$spacing * 11));
    }
  }
</style>
