<header>
  <div>
    <img src="/profile-picture-rounded.png" alt="Profile Picture" />
    <h1>Osahon Oboite</h1>
    <p class="body2">
      Full-stack engineer building accessible, fast, and sometimes AI-powered
      web apps.
    </p>
  </div>
</header>

<style lang="scss">
  @use "sass:map";
  @use "../styles/theme.scss";
  @use "../styles/mixins.scss";
  @use "../styles/typography.scss";

  header {
    background-color: map.get(theme.$theme-dark, bg-light);
    padding: theme.$spacing * 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    > div {
      @include mixins.container;
    }

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: theme.$spacing * 2;
    }

    h1 {
      font-size: typography.$font-size-h5;
      font-weight: typography.$font-weight-bold;
      line-height: typography.$line-height-h5;
      margin: 0;
    }

    p {
      color: map.get(theme.$theme-dark, text-secondary);
    }
  }

  body[data-theme="light"] {
    header {
      background-color: map.get(theme.$theme-light, bg-light);
      border: 1px solid rgb(229, 231, 235);
    }
  }
</style>
