<header>
  <a href="/">
    <img id="logo" src="/logo.svg" alt="osahon.dev" />
  </a>

  <div>
    <label id="theme-switch">
      <input type="checkbox" class="theme-checkbox" />
      <span class="theme-slider">
        <span>☀️</span>
        <span>🌙</span>
      </span>
    </label>
  </div>
</header>

<style lang="scss">
  @use "sass:map";
  @use "../styles/theme.scss";
  @use "../styles/mixins.scss";

  header {
    @include mixins.container;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    padding: calc(theme.$spacing * 2) 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  #logo {
    height: 40px;
  }
  #theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    cursor: pointer;

    input {
      display: none;
    }
  }

  .theme-slider {
    @include mixins.themeTransition;
    background-color: map.get(theme.$theme-light, bg);
    border-radius: 34px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
    font-size: 16px;
  }

  .theme-slider::before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: map.get(theme.$theme-dark, bg);
    border-radius: 50%;
    transition: transform 0.3s ease;
    z-index: 1;
  }

  .theme-checkbox:checked + .theme-slider {
    background-color: map.get(theme.$theme-light, text-primary);
  }

  .theme-checkbox:checked + .theme-slider::before {
    transform: translateX(26px);
    background-color: map.get(theme.$theme-light, bg);
  }

  .theme-slider .icon {
    z-index: 2;
    pointer-events: none;
  }
</style>

<script>
  document.querySelector("#theme-switch")?.addEventListener("change", () => {
    const body = document.querySelector("body");
    const logo = document.querySelector("#logo");

    if (!body) return;

    const theme = body?.getAttribute("data-theme");

    if (theme === "dark") {
      body.setAttribute("data-theme", "light");
      logo?.setAttribute("src", "/logo.svg");
    } else {
      body.setAttribute("data-theme", "dark");
      logo?.setAttribute("src", "/logo-light.svg");
    }
  });
</script>
