---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Body from "../components/Body.astro";
import ArticleTitle from "../components/ArticleTitle.astro";

type Props = CollectionEntry<"article">["data"];

const { title, description, pubDate, updatedDate, readTime } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <Body>
    <Header />
    <main>
      <article>
        <ArticleTitle {...Astro.props} />
        <slot />
      </article>
    </main>
  </Body>
</html>

<style lang="scss">
  @use "../styles/theme.scss";
  @use "../styles/mixins.scss";

  main {
    @include mixins.contentArea;
  }
</style>
